Makefile
anthy-conf
anthy-test-conf
anthy.pc
anthy.spec
autom4te.cache
calctrans/calctrans
calctrans/proccorpus
config.h
config.log
config.status
depgraph/anthy.dep
depgraph/mkdepgraph
libtool
mkanthydic/anthy.cand_info
mkanthydic/anthy.corpus_array
mkanthydic/anthy.corpus_bucket
mkanthydic/anthy.dic
mkanthydic/anthy.seg_info
mkanthydic/anthy.seg_len_info
mkanthydic/anthy.trans_info
mkanthydic/anthy.yomi_info
mkanthydic/mkfiledic
mkworddic/anthy.wdic
mkworddic/dict.args
mkworddic/mkworddic
src-util/anthy-agent
src-util/anthy-dic-tool
src-util/anthy-morphological-analyzer
src-util/elc-stamp
stamp-h1
test/anthy
test/checklib
*.deps
*.elc
*.la
*.libs
*.lo
*.o
*~
